.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
 
}
#formvalidation{
     height: 30px;
    margin-bottom: 20px;
    color: red;
    font-weight: bold
    
}
